.search-container h2 {
    font-weight: bold;
    font-size: 13px;
}

.search-container input{
    padding: 5px;
    width: 100%;
    border: 2px solid #EFEFEF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-container form {
    display: flex;
    flex-direction: column;
}

.search-container button {
    align-self: flex-end;
    padding: 5px 25px;
    width: fit-content;
    background-color: white;
    border: none;
    border: 3px solid #FF3801;
    color: #FF3801;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s;
}

.search-container button:hover {
    transform: scale(1.01);
}

@media only screen and (max-width: 500px) {
    .search-container {
        width: 90%;
    }
}